.drawerMenu {
    background: #ffffff 0 0 no-repeat padding-box;
    border-right: 1px solid #0d9da6;
    opacity: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
}

.drawerMenu a {
    text-align: center;
    font: normal normal normal 24px/32px Segoe UI;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    text-decoration: none;
    padding: 25px 0;
    border-bottom: 1px solid #0d9da6;
    width: 100%;
}

.drawerMenu a:hover {
    color: #FFFFFF;
    background: #037179 0 0 no-repeat padding-box;
}

@media (max-width: 1024px) {
    .drawerMenu {
        display: none;
    }
}
