@import './Drawer.module.css';
@import './Login.module.css';
@import './Search.module.css';
@import "node_modules/react-image-gallery/styles/css/image-gallery.css";

@import '../../public/fonts/SFPro/stylesheet.css';
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=PT+Serif:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

.flex-wrapper {
  display: flex;
  flex-direction: column;
}

.ReactCrop__image {
  max-height: 316px;
}

.uploadimage-settings {
  position: absolute;
  cursor: pointer;
  display: flex;
  width: 100%;
  justify-content: space-between;
  top: 10px;
}

button:disabled {
  background: #dddddd;
  border: 2px solid #dddddd;
  color: #fff;
  cursor: auto;
}

button:disabled:hover {
  background: #dddddd;
  border: 2px solid #dddddd;
  color: #fff;
  cursor: auto;
}

.not-found {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --color-green: #095c5c;
  --color-white: #fff;
  --color-gray: #787878;
  --color-black: #1f1f1f;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container-vh {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.container-profile {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.row-content {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.row {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.row-gallery {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}

.invert img {
  filter: invert(100%) brightness(160%);
}

.box-to-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  height: 73px;
  padding: 13.5px 20px 12.5px;
  border: solid 1px #707070;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.menu-logo {
  cursor: pointer;
  fill: #fae2ca;
  width: 37px;
}

.logo-image {
  width: 98px;
  height: 47px;
  object-fit: contain;
}

.user-logo-circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #fae2ca;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.index-main-box {
  background: #fff;
  height: 100%;
}

.main-index {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: stretch;
  padding: 20px;
}

.main-profile {
  padding: 10px 20px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
}

.main-height-full {
  height: 100vh;
}

.height-full {
  height: 100%;
}

/* LEFTMENU */

.leftmenu {
  align-self: stretch;
  min-width: 333px;
  max-width: 100%;
  /*height: 100vh;*/
  background-color: #095c5c;
}

.link-actve {
  cursor: pointer;
}

.leftmenu-nav-menu li {
  list-style: none;
}

.logout {
  margin-top: 100px;
}

.leftmenu-link {
  position: relative;
  display: block;
  width: 333px;
  padding: 10px 0 10px 33%;
  font-family: PT Sans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.05px;
  text-align: left;
  text-decoration: none;
  color: var(--color-white);
  /*margin-bottom: 23px;*/
  margin-left: -46px;
  transition: all 0.3s linear;
  z-index: 1;
}

.active {
  background: var(--color-white);
  color: var(--color-green);
}

.active .leftmenu-link {
  background: var(--color-white);
  color: var(--color-green);
}

.active .leftmenu-link-image {
  filter: invert(0%);
}

.leftmenu-list:hover .leftmenu-link-image {
  filter: invert(0%);
}

.leftmenu-link:hover {
  background: var(--color-white);
  color: var(--color-green);
}

.bold {
  font-weight: bold;
}

.leftmenu-link-image {
  z-index: 2;
  width: 24px;
  filter: invert(100%) brightness(160%);
  transition: all 0.3s linear;
}

.leftmenu-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 30px 25px 0 46px;
}

.leftmenu-user-information {
  width: 270px;
  margin-top: 70px;
  margin-bottom: 13px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.user-image {
  margin-right: 22px;
  width: 100px;
  max-width: 100%;
  height: 100px;
  border-radius: 50%;
}

.user-image-mobile {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.user-description {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: PT Serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 17px;
  letter-spacing: 0.86px;
  text-align: left;
  color: var(--color-white);
}

/* COLORS */
.bg-login {
  background: rgba(9, 92, 92, 0.15);
}

.bg-singup {
  background: #f6f6f6;
}

.black {
  color: var(--color-black);
}

.gray {
  color: var(--color-gray);
}

.green {
  color: var(--color-green);
}

.bg-green {
  background-color: var(--color-green);
}

.white {
  color: var(--color-white);
}

.bg-white {
  background-color: var(--color-white);
}

/* BUTTONS */
.button-green-outline {
  cursor: pointer;
  background-color: var(--color-white);
  color: var(--color-green);
  /*margin: 20px 20px 0 0;*/
  max-width: 180px;
  padding: 13px 30px;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  font-family: PT Sans;
  font-size: 9px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  text-align: center;
  border-radius: 20px;
  border: solid 2px var(--color-green);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  transition: background 0.3s linear;
}

.button-green-outline:hover {
  background-color: var(--color-green);
  color: var(--color-white);
}

.button-green {
  cursor: pointer;
  background-color: var(--color-green);
  color: var(--color-white);
  /*margin: 20px 20px 0 0;*/
  margin-right: 10px;
  /*margin-left: 10px;*/
  max-width: 180px;
  padding: 13px 30px;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  font-family: PT Sans;
  font-size: 9px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  text-align: center;
  border-radius: 20px;
  border: solid 2px var(--color-green);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  transition: background 0.3s linear;
}

.input-file {
  cursor: pointer;
  opacity: 0;
  position: absolute;
  margin-top: 28px;
  display: block;
  width: 96px;
}

.input-file2 {
  cursor: pointer;
  opacity: 0;
  position: absolute;
  margin-top: -50px;
  height: 50px;
  display: block;
  width: 96px;
}

.button-green-file {
  position: relative;
  cursor: pointer;
  background-color: var(--color-green);
  color: var(--color-white);
  margin: 20px 20px 0 0;
  max-width: 150px;
  padding: 13px 30px;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  font-family: PT Sans;
  font-size: 9px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  text-align: center;
  border-radius: 20px;
  border: solid 2px var(--color-green);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  transition: background 0.3s linear;
}

.button-green-file:hover {
  cursor: pointer;
}

.button-green:hover {
  background-color: var(--color-white);
  color: var(--color-green);
}

.button-white {
  cursor: pointer;
  background-color: var(--color-white);
  color: var(--color-green);
  max-width: 150px;
  padding: 13px 30px;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  font-family: PT Sans;
  font-size: 9px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  text-align: center;
  border-radius: 20px;
  border: solid 1px var(--color-green);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  transition: background 0.3s linear;
}

.off {
  float: right;
  padding-right: 4px;
}

.on {
  float: left;
  padding-left: 4px;
}

.button-white:hover {
  background-color: var(--color-green);
  color: var(--color-white);
}

.button-on {
  cursor: pointer;
  position: relative;
  width: 91px;
  height: 30px;
  padding: 4px 4px 4px 13px;
  border-radius: 40px;
  background-color: var(--color-green);
  color: var(--color-white);
  outline: none;
  border: 1px solid var(--color-green);
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
}

.button-on-inner-button {
  position: absolute;
  margin-top: -4px;
  margin-left: 20px;
  width: 32px;
  height: 22px;
  transition: 0.1s linear;
  border-radius: 40px;
  background-color: #ffffff;
}

.button-on:active {
  background: rgba(9, 92, 92, 0.5);
  border: none;
}

.button-on:active .button-on-inner-button {
  margin-left: -24px;
}

.button-off {
  cursor: pointer;
  position: relative;
  width: 91px;
  height: 30px;
  padding: 4px 13px 4px 4px;
  border-radius: 40px;
  background: rgba(9, 92, 92, 0.5);
  color: var(--color-white);
  outline: none;
  border: none;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  text-transform: uppercase;
}

.button-off-inner-button {
  position: absolute;
  margin-top: -4px;
  margin-left: -48px;
  width: 32px;
  height: 22px;
  transition: 0.1s linear;
  border-radius: 40px;
  background-color: #ffffff;
}

.button-off:active {
  background: var(--color-green);
  border: none;
}

.button-off:active .button-off-inner-button {
  margin-left: 0;
}

/* FORMS */

input {
  font-family: Arial;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--color-green);
}

.mt-big {
  margin-top: 48px;
}

.input-span {
  display: block;
  position: relative;
  width: 100px;
  /*margin-right: 27px;*/
  margin-top: 9px;
  font-family: Arial;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
}

input[type=file], /* FF, IE7+, chrome (except button) */
input[type=file]::-webkit-file-upload-button {
  /* chromes and blink button */
  cursor: pointer;
}

::-webkit-input-placeholder {
  /* Chrome */
  font-family: Arial;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
}

:-ms-input-placeholder {
  /* IE 10+ */
  font-family: Arial;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-family: Arial;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
}

:-moz-placeholder {
  /* Firefox 4 - 18 */
  font-family: Arial;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
}

.form-login {
  width: 450px;
  max-width: 100%;
  padding: 20px;
}

.form-login-title {
  font-family: PT Serif;
  font-size: 33px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2.06px;
  text-align: left;
  margin-bottom: 16px;
}

.form-login-subtitle {
  font-family: SF Pro Display;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.33px;
  text-align: left;
}

.form-login-subtitle:nth-child(1) {
  margin: 0;
}

.form-login-input-label {
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--color-black);
  margin-bottom: 26px;
}

.form-login-input input {
  position: relative;
  margin-bottom: 13px;
  width: 400px;
  max-width: 100%;
  border: none;
  outline: none;
  padding: 9px 30px 10.7px 17px;
  background-color: #ffffff;
}

.form-login-input-edit {
  cursor: pointer;
  position: absolute;
  margin-left: -50px;
  margin-top: 6px;
  transition: 0.3s linear;
}

.form-login-input-close {
  cursor: pointer;
  position: absolute;
  margin-left: -25px;
  margin-top: 6px;
  transition: 0.3s linear;
}

.form-login-input-close:hover {
  transform: rotate(90deg);
}

.form-login-input-edit:hover {
  transform: scale(1.3, 1.3);
}

.form-login-buttons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 15px;
}

.add-plus {
  position: relative;
}

.plus {
  cursor: pointer;
  position: absolute;
  left: 0;
  width: 32px;
}

.search-users {
  position: relative;
  height: 40px;
  margin: 28px 0.4px 29px 1px;
  padding: 11.5px 0 11.5px 40px;
  background-color: #ffffff;
  width: 100%;
  border-radius: 20px;
  outline: none;
  border: none;
}

.search-button {
  position: absolute;
  margin-top: -59px;
  margin-left: 10px;
}

/* PROFILE FORMS */
.box-2-box {
  /*display: grid;*/
  /*grid-template-columns: 1fr 1fr;*/
  /*grid-gap: 60px;*/
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  /*height: 100%;*/
}

.double-blocks {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 60px;
}

.double-blocks-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 60px;
}

.double-blocks-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.double-blocks-5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 50px;
}

.double-blocks-5 div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.form-profile-label {
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--color-black);
  margin: 16px 0;
}

.form-profile-input {
  position: relative;
  margin-bottom: 13px;
  width: 100%;
  max-width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(31, 31, 31, 0.2);
  outline: none;
  padding: 9px 11.4px 10.7px 0;
  background: none;
}

input[type='file'] {
  cursor: pointer;
}

option {
  position: relative;
  font-size: 16px;
  margin-bottom: 13px;
  width: 100%;
  max-width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(31, 31, 31, 0.2);
  outline: none;
  padding: 9px 12px 11px 20px;
  background: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

select.arrows {
  background-image: url('../../public/images/down-select.png');
  background-position: calc(100% - 0.5rem), 100% 0;
  background-size: 1em 1em;
  background-repeat: no-repeat;
}

.form-profile-empty-input input {
  position: relative;
  margin-bottom: 13px;
  width: 100%;
  max-width: 100%;
  border: solid 1px #095c5c;
  outline: none;
  padding: 9px 11.4px 10.7px 20px;
  background: none;
}

.profile-box-form {
  width: 100%;
  height: auto;
  margin: 15px;
  padding: 32px;
  box-shadow: 0 3px 6px 0 rgba(31, 31, 31, 0.2);
  border: solid 1px rgba(112, 112, 112, 0);
  background-color: #f6f6f6;
}

.profile-block-box {
  flex-basis: 47%;
  align-self: stretch;
  /*flex-grow:1;*/
}

.profile-block-box > div .form-login-input input {
  width: 100%;
}

.px20 {
  font-size: 20px;
}

.px12 {
  font-size: 12px;
}

.mb-6px {
  margin-bottom: 6px;
}

.mt-30 {
  margin-top: 30px;
}

.mobile-topmenu {
  display: none;
}

.profile-photo-box {
  width: 100%;
  height: 184px;
  border: solid 1px rgba(112, 112, 112, 0.5);
  background-color: rgba(31, 31, 31, 0.2);
}

.profile-photo-box img {
  max-height: 184px;
}

.image {
  margin: 0;
  padding: 0;
  object-fit: contain;
  width: 100%;
  border: solid 1px #095c5c;
}

.fill-mobile {
  display: none;
  height: 1000px;
}

.form-info-block {
  flex-basis: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5%;
  align-items: start;
}

.form-info-block div:nth-child(1) {
  flex-basis: 50%;
}

.form-info-block-paid {
  flex-basis: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5%;
  align-items: start;
}

.form-info-block-paid div:nth-child(1) {
  flex-basis: 50%;
}

.disabled,
.disabled label,
.disabled input {
  color: rgba(112, 112, 112, 0.5);
  border-color: rgba(112, 112, 112, 0.5);
}

.disabled .button-green-file {
  color: var(--color-white);
  background: rgba(112, 112, 112, 0.5);
  border: none;
}

input:disabled::-webkit-input-placeholder {
  /* WebKit browsers */
  color: rgba(112, 112, 112, 0.5);
}

input:disabled:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgba(112, 112, 112, 0.5);
}

input:disabled::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgba(112, 112, 112, 0.5);
}

input:disabled:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: rgba(112, 112, 112, 0.5);
}

.checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.checkbox input {
  outline: none;
  border: 1px solid var(--color-white);
  width: 20px;
  height: 20px;
  background: var(--color-white);
  margin-right: 15px;
}

.checkbox-text {
  display: block;
  max-width: 290px;
  font-family: Arial;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
}

.form-text {
  margin: 26px 0;
  font-family: Arial;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
}

.profile-block-box {
  margin-top: 20px;
}

/* USER LIST */
#account_opened {
  position: relative;
}

.account_opened {
  box-shadow: 0 0 5px #fff;
  transition: 0.3s linear;
  z-index: 10;
  border: 1px solid var(--color-green);
  display: none;
  position: absolute;
  width: 230px;
  top: 15px;
  right: -13px;
  list-style: none;
  font-family: Arial;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: var(--color-white);
  background: var(--color-green);
  /*padding: 10px;*/
}

.account_opened li {
  padding: 5px;
  transition: 0.3s linear;
}

.account_opened li:hover {
  color: var(--color-green);
  background: var(--color-white);
}

#account_opened:hover .account_opened {
  display: block;
}

/*--------*/
.user-block {
  position: relative;
}

.flex-2-column {
  width: 30%;
  margin-top: 42px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: flex-start;
  align-items: flex-start;
}

.flex-2-column div p {
  margin-top: 10px;
}

.user-data {
  position: relative;
  padding: 0 0 0 10px;
}

#info_for_user1 {
  display: none;
}

.user-info {
  display: none;
  position: relative;
  margin-top: -10px;
  height: 272px;
  padding: 17px;
}

.user-info-text {
  font-family: Arial;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--color-white);
}

.pl-13 {
  padding-left: 6px;
}

#status {
  position: relative;
}

.status {
  box-shadow: 0 0 5px #fff;
  transition: 0.3s linear;
  z-index: 10;
  border: 1px solid var(--color-green);
  display: none;
  position: absolute;
  width: 100px;
  top: 15px;
  right: -13px;
  list-style: none;
  font-family: Arial;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: var(--color-white);
  background: var(--color-green);
  /*padding: 10px;*/
}

.status li {
  padding: 5px;
  transition: 0.3s linear;
}

.status li:hover {
  color: var(--color-green);
  background: var(--color-white);
}

#status:hover .status {
  display: block;
}

/*-------*/
.user-list-option {
  border: none;
  padding: 20px;
  background: var(--color-green);
  color: var(--color-white);
}

.user-list-header {
  display: grid;
  width: 100%;
  grid-template-columns: 6fr 3fr 6fr 3fr 1fr;
  grid-gap: 20px;
  cursor: pointer;
  justify-items: flex-start;
  align-items: center;
}

.user-list {
  display: grid;
  width: 100%;
  grid-template-columns: 6fr 3fr 6fr 3fr 1fr;
  grid-gap: 20px;
  cursor: pointer;
  justify-items: flex-start;
  align-items: center;
}

.select-area {
  position: relative;
  border: none;
  outline: none;
  background: transparent;
}

.select-area::after {
  content: url('../../public/images/little-arrow-bottom.svg');
  position: absolute;
  margin-top: -3px;
}

.select-area:hover {
}

.open-user-profile {
  width: 40px;
}

.pl-17 {
  padding-left: 17px;
}

.user-list-text {
  margin: 10px 0;
  font-family: Arial;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
}

.view-profile {
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: var(--color-green);
  padding-left: 30px;
}

.view-profile::before {
  content: url('../../public/images/user.svg');
  position: absolute;
  margin-left: -25px;
  margin-top: -4px;
}

.border-white {
  border: 1px solid #fff;
}

.stripes {
  position: relative;
  margin-top: 30px;
  /*display: grid;*/
  /*grid-template-columns: repeat(14,88px);*/
  /*justify-items: center;*/
  display: flex;
  justify-content: flex-start;
}

.stripes div {
  margin: 0 44px;
}

.stripes div:nth-child(1) {
  margin: 0;
}

.vertical-stripe {
  width: 1px;
  height: 314px;
  background: #707070;
}

.hor-stripe {
  margin-left: 49px;

  display: grid;
  grid-template-columns: repeat(12, 88px);
  justify-content: flex-start;
  font-family: Arial;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
}

.hor-stripe > p {
  padding-top: 8px;
  width: 100%;
  border-top: 1px solid #707070;
}

.total {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.years-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.year {
  align-self: center;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #095c5c;
  margin-bottom: 10px;
}

.year-arrows {
  align-self: center;
}

.year-text {
  font-family: Arial;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
}

.circle-gray {
  width: 10px;
  height: 10px;
  border: solid 1px #707070;
  background: #707070;
  border-radius: 50%;
}

.years-block > .circle-gray {
  margin: 15px 0 7px 0;
  align-self: flex-start;
}

.row-wrap {
  min-width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.cut-block {
  width: 446px;
  max-width: 100%;
  align-self: stretch;
}

.cut-block-2 {
  width: 922px;
  max-width: 100%;
}

.one-block {
  grid-template-columns: 1fr;
}

.gallery-select {
  cursor: pointer;
  position: relative;
  outline: none;
  border: none;
  width: 269px;
  height: 37px;
  padding: 10px;
  font-family: Arial;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-right: 22px;
  margin-bottom: 10px;
  text-align: left;
  color: #707070;
  background-color: #ffffff;
}

.bg-gray {
  background: #f6f6f6;
}

.gallery-select-arrow {
  position: absolute;
  content: url('../../public/images/down-select.png');
  margin-left: 240px;
  margin-top: 10px;
}

.gallery-checkbox-text {
  display: block;
  max-width: 330px;
  font-family: Arial;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
}

.space-between {
  justify-content: space-between;
}

.gallery-button-block {
  width: 10%;
}

.gallery-block-image {
  position: relative;
  max-width: 100%;
  min-height: 316px;
  border: solid 1px #095c5c;
  background-color: #ffffff;
}

.gallery-upload {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gallery-preview {
  position: absolute;
  top: -10px;
  left: 10px;
}

.upload-subtitle {
  padding-left: 20px;
  font-family: Arial;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
}

.delete-button {
  width: 40px;
  position: absolute;
  cursor: pointer;
  right: 0;
  /*top: 10px;*/
}

.search-gallery {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.index-search-gallery {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.search-postcode {
  position: relative;
  height: 40px;
  margin: 28px 0.4px 29px 1px;
  padding: 11.5px 0 11.5px 40px;
  background-color: #f6f6f6;
  width: 100%;
  border-radius: 20px;
  outline: none;
  border: none;
}

.index-search-gallery > .search-postcode {
  width: 100%;
}

.index-search-gallery > .search-button {
  margin-top: 0;
}

.search-gallery > .search-users {
  width: 50%;
}

.search-gallery > .search-button {
  margin-top: 0;
}

.centered {
  margin: 0 0 0 30px;
}

.gallery-box {
  width: 100%;
  margin-top: 7px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(333px, 1fr));
  grid-gap: 30px;
}

.gallery-image-box {
  justify-self: center;
  position: relative;
  width: 333px;
  height: 442px;
  border: solid 1px #f6f6f6;
  background-color: #f6f6f6;
}

.gallery-image {
  width: 333px;
  height: 333px;
  object-fit: contain;
}

.gallery-image-description {
  padding: 20px;
  position: relative;
}

.gallery-image-title {
  font-family: PT Serif;
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.79px;
  text-align: left;
  color: #333333;
}

.gallery-image-text {
  margin-top: 9px;
  font-family: PT Sans;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: left;
  color: #686363;
}

.gallery-image-watermark {
  position: absolute;
  right: 18px;
  top: 17px;
  font-family: PT Sans;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: left;
  color: #f6f6f6;
  text-transform: uppercase;
}

.gallery-image-edit {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 54px;
  width: 22px;
}

.gallery-image-delete {
  cursor: pointer;
  position: absolute;
  width: 40px;
  right: 11px;
  cursor: pointer;
  top: 8px;
}

.flex-end {
  position: relative;
  display: flex;
  justify-content: flex-end;
  min-width: 100%;
  padding-right: 40px;
}

.flex-end-arrow {
  position: absolute;
  right: 8px;
  top: 13px;
  cursor: pointer;
}

.footer {
  width: 100%;
  height: 338px;
  background: rgba(9, 92, 92, 0.1);
  padding: 45px 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
}

/*.footer div {*/
/*    flex-basis: 50%;*/
/*}*/

.footer-bottom {
  width: 100%;
  height: 50px;
  padding: 18px 40px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  font-family: PT Sans;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.8px;
  text-align: left;
  color: #ffffff;
}

.footer-title {
  display: block;
  max-width: 250px;
  font-family: PT Serif;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.38px;
  text-align: left;
  color: #333333;
  margin-bottom: 9px;
}

.footer-text {
  font-family: PT Sans;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.8px;
  text-align: left;
  color: #787878;
}

.footer-menu {
  flex-basis: 50%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.footer-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer-menu ul li a {
  text-decoration: none;
  font-family: PT Sans;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.8px;
  text-align: left;
  color: #787878;
}

.footer-menu ul li a:hover {
  color: #095c5c;
}

.social-icons {
  display: flex;
  justify-content: flex-start;
  flex-basis: 50%;
  align-items: center;
}

.social-icons img {
  padding-top: 5px;
  margin-right: 20px;
}

/*  --------------------  */
.index-box-to-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  background: #fff;
}

.index-box-to-box-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}

.index-gallery-box {
  width: 100%;
  margin-top: 7px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(216px, 1fr));
  grid-gap: 20px;
}

.index-gallery-image-box {
  justify-self: center;
  position: relative;
  width: 216px;
  height: 277px;
  border: solid 1px #f6f6f6;
  background-color: #f6f6f6;
}

.index-gallery-image {
  width: 216px;
  height: 216px;
  object-fit: contain;
}

.index-gallery-image-description {
  padding: 10px;
  position: relative;
  margin-top: -5px;
  overflow-wrap: break-word;
}

.index-gallery-image-title {
  font-family: PT Serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.79px;
  text-align: left;
  color: #333333;
}

.index-gallery-image-text {
  margin-top: 9px;
  font-family: PT Sans;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: left;
  color: #686363;
}

.index-gallery-image-watermark {
  position: absolute;
  right: 18px;
  top: 17px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #fff;
}

.index-gallery-image-watermark-img-1 {
  position: absolute;
  right: 15px;
  top: 14px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.index-gallery-image-watermark-img {
  width: 24px;
  height: 24px;
}

.index-gallery-image-box:hover .index-gallery-image-description {
  background: #095c5c;
}

.index-gallery-image-box:hover .index-gallery-image-title {
  color: #fff;
}

.index-gallery-image-box:hover .index-gallery-image-text {
  color: #fff;
}

.map {
  position: relative;
  margin-top: 10px;
  box-shadow: 5px 5px 10px #ccc;
}

.box-left,
.box-right {
  width: 100%;
  padding: 0 20px;
  /*height: 80px;*/
  font-family: PT Sans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.05px;
  text-align: left;
  color: #686363;
}

/*.left-size{*/
/*    transition: all 2s linear;*/
/*}*/
.box-left {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.box-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.box-right p {
  margin-right: 10px;
}

.row-content-index {
  width: 30%;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.index-select {
  position: relative;
  margin: 13px;
  width: 100%;
  max-width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #095c5c;
  outline: none;
  padding: 9px 11.4px 10.7px 10px;
  background: none;
  font-family: PT Sans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.05px;
  text-align: left;
  color: #686363;
}

.index-select.arrows {
  background-image: url('../../public/images/arrow_drop_down_black_36dp.svg');
  background-position: 100%, 100% 0;
  background-size: 2.5em 2.5em;
  background-repeat: no-repeat;
}

.switcher {
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 14px;
  padding: 4px 4px 4px 20px;
  border-radius: 40px;
  background-color: #095c5c;
}

.switcher-dot {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 40px;
  background-color: #ffffff;
}

.switcher-text {
  font-family: PT Sans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.05px;
  text-align: left;
  color: rgba(104, 99, 99, 0.75);
}

.strong {
  font-family: PT Sans;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.05px;
  text-align: left;
  color: #1f1f1f;
}

.map-dentist-block {
  position: absolute;
  top: -140px;
  left: 17px;
  z-index: 1;
  /*width: 139px;*/
  /*height: 139px;*/
  padding: 15px;
  opacity: 0.8;
  border-radius: 14px;
  border: solid 1px #095c5c;
  background-color: #095c5c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.map-dentist-block-image {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  opacity: 1;
}

.map-heart-green {
  width: 24px;
}

.map-heart-white {
  width: 24px;
}

.map-dentist-block-title {
  font-family: PT Serif;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.56px;
  text-align: left;
  color: #ffffff;
  margin: 14px 0 9px 0;
}

.map-dentist-block-subtitle {
  font-family: PT Sans;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.42px;
  text-align: left;
  color: #ffffff;
}

.flex-menu {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.index-leftmenu {
  min-width: 333px;
  background: #f6f6f6;
  align-self: stretch;
  padding: 0 20px 20px;
}

.index-dentist-gallery-image {
  width: 247px;
  height: 247px;
}

.index-dentist-gallery-box {
  width: 100%;
  margin-top: 7px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(247px, 1fr));
  grid-gap: 20px;
}

.index-dentist-gallery-image-box {
  justify-self: center;
  position: relative;
  width: 247px;
  height: 247px;
}

.index-dentist-gallery-image-watermark {
  position: absolute;
  right: 10px;
  top: 10px;
  font-family: PT Sans;
  font-size: 9px;
  text-shadow: 0 0 1px #000;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.title-dentist {
  display: none;
  padding: 20px;
  font-family: PT Serif;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.25px;
  text-align: left;
  color: #095c5c;
}
.index-green-button {
  min-width: 82px;
  cursor: pointer;
  background-color: var(--color-green);
  color: var(--color-white);
  margin: 10px 10px 0 0;
  max-width: 180px;
  padding: 13px 13px;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  border: solid 2px var(--color-green);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  transition: background 0.3s linear;
  text-transform: none;
  font-family: PT Sans;
  font-size: 9px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.75px;
  text-align: center;
}
.index-green-button:hover {
  color: var(--color-green);
  background: var(--color-white);
}
.button-list {
  margin: 34px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.button-list > p span {
  margin: 5px 0;
}
.index-dentist-gallery-image {
  width: 247px;
  height: 247px;
}
.relative {
  position: relative;
}
.index-leftmenu-profile-information {
  position: relative;
  padding: 20px 10px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  top: -88px;
}
.index-leftmenu-profile-photo {
  width: 128px;
  height: 128px;
  border-radius: 50%;
}
.leftmenu-index-cover-image {
  display: block;
  width: 100%;
  height: 191px;
}
.index-leftmenu-text {
  font-family: PT Sans;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.69px;
  text-align: left;
  color: #101010;
}
.index-leftmenu-text p {
  margin-top: 18px;
}
.box-right-column {
  display: flex;
  flex-direction: column;
}
/*.left-size{*/
/*    max-width: 0px;*/
/*}*/
/* ----------------------  */
/* BREAKPOINTS */
@media (max-width: 1412px) {
  .row-gallery {
    flex-wrap: wrap;
  }

  .gallery-button-block {
    display: flex;
    margin-left: 15px;
  }
}

@media (max-width: 1400px) {
  double-blocks-5 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1320px) {
  .cut-block,
  .cut-block-2 {
    width: 100%;
  }
}

@media (max-width: 1290px) {
  .form-info-block-paid {
    grid-template-columns: 1fr;
    margin-bottom: 30px;
  }
}

@media (max-width: 1200px) {
  .box-left {
    width: 70%;
  }

  .box-right {
    width: 30%;
  }

  .footer-menu {
    flex-basis: 60%;
  }

  .search-gallery > .search-users {
    width: 60%;
  }

  .double-blocks-5 {
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .box-2-box {
    flex-wrap: wrap;
  }

  .profile-block-box {
    flex-basis: 100%;
  }

  .profile-box-form {
    padding: 15px;
  }

  .user-list,
  .user-list-header {
    grid-template-columns: 3fr 3fr 3fr 2fr 1fr;
  }
}

@media (max-width: 1060px) {
  .gallery-select {
    margin-bottom: 25px;
  }

  .space-between {
    flex-wrap: wrap;
  }
}

@media (max-width: 990px) {
  .map iframe {
    min-width: 100vw;
    padding: 10px;
  }

  .index-box-to-box {
    flex-wrap: wrap;
  }

  .form-info-block {
    grid-template-columns: 4fr 1fr;
  }
}

@media (max-width: 920px) {
  .title-dentist {
    display: block;
  }

  .index-box-to-box-top {
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: flex-start;
  }

  .box-left,
  .box-right {
    width: 100%;
    /*height: 50px;*/
    justify-content: center;
  }

  .box-left {
    order: 2;
    justify-content: flex-start;
  }

  .box-right {
    order: 1;
    justify-content: flex-start;
  }

  .double-blocks-5 {
    grid-template-columns: 1fr 1fr;
  }

  .box-to-box {
    flex-wrap: wrap;
  }
}

@media (max-width: 886px) {
  .search-gallery > .search-users {
    width: 47%;
  }
}

@media (max-width: 768px) {
  .footer-bottom {
    width: 100%;
    height: auto;
    padding: 18px 10px;
  }

  .flex-menu {
    flex-wrap: wrap;
  }

  .index-leftmenu {
    min-width: 100%;
  }

  .footer {
    flex-wrap: wrap;
    height: auto;
    padding: 20px;
  }

  .footer-menu {
    flex-basis: 100%;
    justify-content: space-between;
  }

  .leftmenu-link {
    font-size: 20px;
  }

  .search-gallery > .search-users {
    width: 55%;
  }

  .hor-stripe,
  .stripes {
    display: none;
  }

  .double-blocks-5 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .flex-2-column {
    margin-top: 0;
  }

  .user-info {
    height: auto;
  }

  .main-box {
    height: 70%;
  }

  .container-profile {
    flex-direction: column;
  }

  .mobile-topmenu {
    margin-left: -6vw;
    min-width: 95vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }

  .leftmenu {
    z-index: 5;
    position: fixed;
    min-width: 100%;
    height: 61px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }

  .main-profile {
    margin-top: 50px;
  }

  .profile-box-form {
    padding: 20px;
    width: 95vw;
  }

  .desctop-visible {
    display: none;
  }

  .leftmenu-content {
    min-width: 104vw;
    background: var(--color-green);
    position: relative;
    transform: translate(50vw, 52%);
  }

  .leftmenu-user-information {
    display: none;
  }

  .leftmenu-link {
    width: 106vw;
    padding: 10px 0 10px 98px;
  }

  .leftmenu-nav-menu {
    padding-left: 42px;
  }

  .logout {
    margin-top: 0;
  }

  .fill-mobile {
    display: block;
  }
}

@media (max-width: 650px) {
  .box-left {
    flex-wrap: wrap;
  }

  .index-search-gallery,
  .row-content-index {
    width: 100%;
  }
}

@media (max-width: 560px) {
  .double-blocks-5 {
    grid-template-columns: 1fr 1fr;
  }

  .double-blocks,
  .double-blocks-2 {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }

  .double-blocks div:nth-child(1) {
    width: 30%;
  }

  .form-profile-label {
    font-size: 14px;
  }

  .user-list-text {
    font-size: 13px;
  }

  .user-list-header {
    grid-template-columns: 1fr 1fr;
  }

  .user-list-header > div:nth-child(1) {
    display: none;
  }

  .user-list-header > div:nth-child(3) {
    justify-self: end;
    margin-right: 20px;
  }

  .user-list-header > div:nth-child(4) {
    display: none;
  }

  .user-list-header > div:nth-child(5) {
    display: none;
  }

  .account_opened {
    width: 180px;
    right: -66px;
  }

  .status {
    right: -59px;
  }

  .user-data > p:nth-child(1),
  .user-data > p:nth-child(5) {
    grid-row: 1/1;
  }

  .user-data > p:nth-child(2),
  .user-data > p:nth-child(3),
  .user-data > p:nth-child(4) {
    display: none;
    grid-column: 1/3;
  }

  .user-data > p:nth-child(5) {
    justify-self: end;
  }

  .user-list {
    grid-template-columns: 1fr 1fr;
    grid-gap: 3px;
  }
}

@media (max-width: 490px) {
  .footer-menu {
    flex-wrap: wrap;
  }

  .footer-menu ul {
    flex-basis: 100%;
  }

  .search-gallery > .search-button {
    margin-top: -20px;
  }

  .search-gallery {
    flex-wrap: wrap;
  }

  .search-gallery > .search-users {
    width: 100%;
  }

  .row-gallery {
    width: 100vw;
  }

  .gallery-select {
    width: 100%;
  }

  .gallery-select-arrow {
    margin-left: 88%;
  }

  .double-blocks-3 {
    grid-template-columns: 1fr;
    grid-gap: 0;
    margin-bottom: 30px;
  }

  .mobile-topmenu {
    margin-left: -10vw;
  }
}

@media (max-width: 390px) {
  .gallery-image-box,
  .gallery-image {
    width: 100%;
    height: auto;
  }

  .gallery-box {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 350px) {
  .double-blocks-5 {
    grid-template-columns: 1fr;
  }

  .double-blocks div:nth-child(1) {
    width: 50%;
  }

  .form-login-buttons {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }

  .mobile-topmenu {
    margin-left: -14vw;
  }

  .profile-box-form {
    padding: 9px;
    width: 97vw;
  }
}

@media (max-width: 350px) {
  /*.button-green,.button-green-outline{*/
  /*    padding: 13px 7px;*/
  /*}*/
}

.mobile-menu-run {
  transition: 0.3s linear;
  transform: translate(-99vw, 52%);
}

.mobile-menu-stop {
  transition: 0.3s linear;
  transform: translate(50vw, 52%);
}

.menu-logo-close {
  cursor: pointer;
  fill: #fae2ca;
  width: 37px;
}

.menu-logo-top {
  cursor: pointer;
  fill: #fae2ca;
  width: 37px;
}

#top_menu {
  position: fixed;
  margin-bottom: 50px;
}

.fixed {
  position: fixed;
  z-index: 10;
}

.page {
  padding-top: 72px;
  width: 100%;
}





.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}